.login-dialog{
    height: 100px;
    width:500px;
    text-align: center;
    margin-left: 450px;
    padding-left: 50px;
    padding-top:100px;
}

.login-button1{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-left: 50px;
    margin-right: 50px;
}

.login-button2{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-left: 50px;
    margin-right: 50px;
    
}
.mdc-button__label{
    text-align: center;
}